

        <div class="animated fadeIn">
            

            <div class="row">



                <div class="col-md-10">
                    
                  
                        <div class="card border border-secondary"  >
                            
                            <div class="card-header">
                              
                                <strong>Demand Estimation</strong> 
                            </div>
                            <div class="card-body card-block">
                                <form  class="form-horizontal" (ngSubmit)="onSubmit()" #f="ngForm">

                                    
<!-- started from here -->
                            


                                    <div class="row form-group">
                                            <div class="col col-md-3"><label for="Supplier" class=" form-control-label">Supplier</label></div>
                                            <div class="col-12 col-md-9">
                                                <select name="Supplier" id="Supplier" class="form-control" ngModel required>
                                                    <option value="0">Please select </option>
                                                    <option value="pramod">pramod </option>
                                                    <option value="raju">raju</option>
                                                   
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                                <div class="col col-md-3"><label for="yvolume" class=" form-control-label">yvolume</label></div>
                                                <div class="col-12 col-md-9"><input type="number" id="yvolume" name="yvolume" placeholder="Enter Yearly Volume" class="form-control" ngModel required></div>
                                            </div>

                                            <div class="row form-group">
                                                    <div class="col col-md-3"><label for="frequency" class=" form-control-label">frequency</label></div>
                                                    <div class="col-12 col-md-9"><input type="number" id="frequency" name="frequency" placeholder="Enter frequency" class="form-control" ngModel required></div>
                                                </div>
    
                                                <div class="row form-group">
                                                        <div class="col col-md-3"><label for="Mode" class=" form-control-label">Mode</label></div>
                                                        <div class="col-12 col-md-9">
                                                            <select name="Mode" id="Mode" class="form-control" ngModel required >
                                                                    <option value="0">Please select </option>
                                                                <option value="1">A</option>
                                                                <option value="2">B</option>
                                                                <option value="3">C</option>  
                                                            </select>
                                                        </div>
                                                    </div>


                                                    <div class="row form-group">
                                                        <div class="col col-md-3"><label for="Component" class=" form-control-label">Component</label></div>
                                                        <div class="col-12 col-md-9">
                                                            <select name="Component" id="Component" class="form-control" ngModel required >
                                                                    <option value="0">Please select </option>
                                                                <option value="InnerRing">InnerRing</option>
                                                                <option value="OuterRing">OuterRing</option>
                                                                <option value="Roller">Roller</option>
                                                                <option value="Cage">Cage</option>
                                                                <option value="Lubricant">Lubricant</option>  
                                                                <option value="Ball">Ball</option>  
                                                            </select>
                                                        </div>
                                                    </div>


                                                    <div class="row form-group">
                                                            <div class="col col-md-3"><label for="comptype" class=" form-control-label">Comp Type</label></div>
                                                            <div class="col-12 col-md-9">
                                                                <select name="comptype" id="comptype" class="form-control" ngModel required >
                                                                    <!-- <option value="0">Please select</option> -->
                                                                    <option value="A">A</option>
                                                                    <option value="B">B</option>
                                                                    
                                                                   
                                                                </select>
                                                            </div>
                                                        </div>


                                                    <div class="row form-group">
                                                            <div class="col col-md-3"><label for="replleadtime" class=" form-control-label">replleadtime</label></div>
                                                            <div class="col-12 col-md-9"><input type="number" id="replleadtime" name="replleadtime" placeholder="Enter replleadtime" class="form-control" ngModel required></div>
                                                        </div>


                                                        <div class="row form-group">
                                                                <div class="col col-md-3"><label for="callofidt" class=" form-control-label">callofidt</label></div>
                                                                <div class="col-12 col-md-9"><input type="number" id="callofidt" name="callofidt" placeholder="Enter callofidt" class="form-control" ngModel required></div>
                                                            </div>

                     
                                                            <div class="row form-group">
                                                                    <div class="col col-md-3"><label for="date" class=" form-control-label">date</label></div>
                                                                    <div class="col-12 col-md-9"><input type="date" id="date" name="date" placeholder="Enter date" class="form-control" ngModel required></div>
                                                                </div>

                                                                
                                    <div class="form-actions form-group"><button type="submit" class="btn btn-success btn-sm">Submit</button></div>
                                   
                                    
                                   
                                </form>
                        

                </div>
            </div>
            
            </div>
         
    </div>
    </div>





 