.header-left {
    display: inline-block;
    margin-top: 15px;
}
.navbar .navbar-nav li.menu-item-has-children a {
    line-height: 30px;
    margin-top: 30px;
}

.navbar-nav {
    list-style: none;
    margin-top: 11px;
}


