<!-- <div class="container">
   <div class="row">
       <div class="col-xs-10">
           
       </div>
       <div class="col-xs-2"> -->
            <!-- <app-skf></app-skf> -->
            <!-- <app-component-supplier></app-component-supplier>  -->
            <!-- <router-outlet></router-outlet>
       </div>
   </div>


  
</div> -->

<div style=" margin-right:0 ;">
    
           <!-- <app-skf></app-skf> -->
            <!-- <app-component-supplier></app-component-supplier>  -->
                  <router-outlet></router-outlet>    
</div>