
  
  
<div class="row" *ngFor="let d of InData">
        <div class="col-md-10">
                   <div class="card">
                       <div class="card-header bg-secondary">
                           <strong class="card-title text-light">ORDER ID: {{d.oid}}</strong>
                       </div>
                       <div class="cardss">
                           <p>COMPONENT :{{d.componenttname}}</p>
                           <p>QUANTITY :{{d.quantity}}</p>
                           <p>ETA :{{d.date}}</p>

                       </div>
                   </div>
               </div>
</div>










